/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background: rgba(0,0,0,0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  margin: auto;
  padding: 0;
  border: none;
  border-radius:10px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top:50%;
  bottom:50%;
  transform:translateY(8px);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #3f3f3f;
  color: white;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.modal-header h2 {
  padding: 2px 8px;
  
  font-size:20px;
  display: inline-block;
  margin-bottom:0px;
  background-color: #3f3f3f;
  color: white;
}

.modal-body {padding: 2px 16px;padding-bottom:16px;padding-top:16px;padding-right:16px;}
.modal-body p {padding: 2px 16px;color:white;}

.modal-footer {
  padding: 2px 16px;
  padding-top:10px;
  padding-bottom:10px;
  background-color: #3f3f3f;
  color: white;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.modal-footer h3 {
  padding: 2px 16px;
  background-color: #3f3f3f;
  color: white;
}